nav {
  height: 50px;
  border-bottom: 1px solid rgb(167, 167, 167);
  background-color: rgb(255, 255, 255);
  position: sticky;
  top: 0;
  z-index: 800;
}
nav #btn-menu {
  display: none;
}
nav div {
  height: 100%;
}
nav div div.menu {
  width: 70px;
  cursor: pointer;
}
nav div div.menu label {
  font-size: 30px;
  color: rgb(15, 15, 15);
  cursor: pointer;
}
nav div div.nav_1 a {
  text-decoration: none;
  color: rgb(15, 15, 15);
  font-size: 15px;
}
nav div div.nav_2 input {
  width: 280px;
  height: 30px;
  padding-left: 10px;
  outline: none;
  border: none;
  background-color: rgb(219, 219, 219);
}
nav div div.icons {
  display: flex;
}
nav div div.icons a {
  width: 70px;
  font-size: 24px;
  color: rgb(15, 15, 15);
}
nav div div.icons a .bi-heart {
  font-size: 19px;
}
nav div div.icons a .bi-bag-check {
  font-size: 20px;
}

@media (max-width: 991px) {
  #btn-menu:checked ~ .nav_1 {
    opacity: 1;
    visibility: visible;
    transform: translateX(0%);
  }
  div.nav_1 {
    position: absolute;
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    transition: all 500ms ease;
    transform: translateX(-100%);
    opacity: 0;
    visibility: hidden;
  }
  div.nav_1 a {
    display: block;
    padding: 10px 10px;
    font-size: 40px;
  }
  div.nav_1 div.close {
    position: absolute;
    font-size: 30px;
    right: 5px;
    top: 10px;
  }
  section.inicio {
    position: static;
  }
}
section.unity {
  background-color: rgb(88, 24, 69);
}
section.unity div div h3 {
  color: rgb(255, 255, 255);
}

footer {
  background-color: rgb(15, 15, 15);
}
footer div div li {
  list-style: none;
  text-align: start;
}
footer div.footer {
  background-color: rgb(54, 54, 54);
}

body.login {
  background-image: url(/imagenes/inicio.jpg);
}

section.inicio {
  position: relative;
}
section.inicio div.frase {
  display: flex;
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 10%;
  width: 350px;
  height: 100%;
  align-items: center;
}
section.inicio div.frase div {
  width: 100%;
  text-align: start;
  font-size: 35px;
  color: rgb(255, 255, 255);
  font-weight: 700;
}
section.inicio div.img_frase {
  width: 100%;
}
section.inicio div.img_frase img {
  width: 100%;
}

@media (max-width: 991px) {
  section.inicio div.frase {
    width: 320px;
  }
  section.inicio div.frase div p.parrafo_2 {
    text-align: center;
  }
}
section.carousel div.card-body a {
  display: flex;
  justify-content: center;
  background-color: rgb(15, 15, 15);
  color: rgb(255, 255, 255);
  width: 100px;
  height: 30px;
  border-radius: 10px;
  text-decoration: none;
}
section.carousel div.card-body a:hover {
  color: rgb(180, 177, 177);
}

section.carousel div.carousel_zapatillas div div div.card:hover {
  border: 0.5px solid rgb(15, 15, 15);
  box-shadow: 4px 4px 4px rgb(202, 202, 202);
}

main.navinfo section {
  display: flex;
}
main.navinfo section div.zapatilla {
  width: 1408px;
  height: 600px;
  text-align: center;
  background-color: rgb(255, 255, 255);
}
main.navinfo section div.info {
  width: 490px;
  height: 848px;
  background-color: aquamarine;
}
main.navinfo section div.info div {
  margin: 30px 20px;
  background-color: rgb(140, 112, 167);
}

@media (max-width: 991px) {
  main.navinfo section {
    display: block;
  }
  main.navinfo section div.zapatilla {
    display: flex;
    width: 100%;
    align-items: end;
  }
  main.navinfo section div.info {
    width: 100%;
    height: auto;
  }
}