@import 'maps.scss';

footer{
    background-color: map-get($palette , dark ) ;
    
    div{
        margin-top: 30px;
        div{
            
            li{
                list-style: none;
                text-align: start;
                span{
                    font-size: 20px;
                    font-weight: 600;
                }
            }
        }

    }
    div.footer{
        background-color: map-get($palette , darkb );
    }
}